@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/nabla');
@import url('https://fonts.cdnfonts.com/css/kyiv-machine');
@import url('https://fonts.googleapis.com/css/Roboto');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow: hidden;
}

.container {
    /* height: 100%; */
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5%;
}

.text {
    font-family: 'Kyiv Machine', sans-serif;
    font-weight: 100px;
    font-size: 70px;
    color: #fff;
    z-index: 1;
    position: relative;

}

.dud {
    color: #fff;
    z-index: 1;
    position: relative;
}

header {
    width: 100%;
    background-color: #000;
    display: flex !important;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.container-logo {
    display: flex;
    align-items: center;
}

img {
    width: 120px;
    height: 70px;
    margin-left: 10%;
    z-index: 1;
    position: relative;
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -3%;
    z-index: 1;
    position: relative;
}

.entre {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -3%;
    z-index: 1;
    position: relative;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.quem {
    transition: transform 0.3s ease;
}

.proj {
    transition: transform 0.3s ease;
}

.cont {
    transition: transform 0.3s ease;
}

.quem:hover,
.quem:focus {
    transform: translateX(10px) scale(1.2);
}

.proj:hover,
.proj:focus {
    transform: translateX(10px) scale(1.2);
}

.cont:hover,
.cont:focus {
    transform: translateX(10px) scale(1.2);
}

.menu li a {
    font-size: 22px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 10px 10px;
    z-index: 1;
    position: relative;
}

.container-bolhas {
    position: relative;
    width: 100%;
    height: 100vh;

}

.bolhas {
    position: absolute;
    display: flex;
}

.bolhas span {
    width: 30px;
    height: 30px;
    background-color: #65B741;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #65B74144,
        0 0 50px #65B741,
        0 0 100px #65B741;
    animation: animar calc(160s / var(--i))linear infinite;
}

@keyframes animar {
    0% {
        transform: translateY(-130vh) scale(0);
    }

    100% {
        transform: translateY(100vh) scale(1);
    }
}

.bolhas span:nth-of-type(even) {
    width: 50px;
    height: 50px;
    margin: 0 4px;
    border-radius: 50%;
}

.redes {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    z-index: 1;
    position: relative;
    margin-top: 1%;
}

.container {
    margin-top: -2%;
    display: flex;
    align-items: center; /
}

.box {
    width: 120px;
    height: 120px;
    margin: 40px;
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 50%;
    align-items: center;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.email {
    width: auto;
    height: auto;
    /* margin-left: -1%; */
    margin-top: 10px;
    z-index: 1;
    position: relative;
}
.face {
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-top: 15px;
    z-index: 1;
    position: relative;
}


.tit{
    margin-top: 40px;
}
a{
    text-decoration: none;
}

.tele {
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-top: 14%;
    z-index: 1;
    position: relative;
}

/* *{
    border: red solid 1px;
} */

.soft {
    margin-top: -10%;
    margin: 40px;
    align-items: center;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}


p {
    margin-left: -12%;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

footer {
    margin-top: 15%;
    width: 100%;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.box:hover,
.box:focus {
    transform: translateX(10px) scale(1.2);
}
.box {
    transition: transform 0.3s ease;
}